.donutchart-container {
  display: inline-block;
  .label {
    display: block;
    width: 100%;
    margin-top: $base-value-quarter;
    text-align: center;
    @extend .control-label;
    white-space: normal;
    color: $neutral-color-dark;
    text-shadow: $shadow-text-light;
  }
}

.donutchart {
  margin: 0 auto;
  border-radius: 50%;
  display: block;
  .track{
    fill: transparent;
    stroke: $grey1;
    stroke-width: 26;
  }
  .indicator {
    fill: transparent;
    stroke: $primary-color;
    stroke-width: 26;
    stroke-dasharray: 0 10000;
    transition: stroke-dasharray .3s ease;
  }
  .text{
    font-family: $font-family-base;
    fill: $primary-color-dark;
  }
  .text-percent{
    font-size: $font-size-large;
  }
  .text-percent-sign{
    @extend .control-label;
  }

  @each $status, $color in $statusColor {
    &.#{$status} {
      .indicator {
        stroke: $color;
      }
      .text{
        fill: map-get($statusColorBlack, $status);
      }
    }
  }

}


