.app-header {
  @extend .band;
  @extend .shadow-m;
  grid-area: header;
  background-color: #000;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: $zindex-header;
  min-height: 51px; // contain mobile menu button
  .container-horizontal {
    .end {
      flex: unset;
    }
    h1 {
      @extend .h5;
      display: inline;
      margin: 0;
      i[class^="fa"] {
        margin-right: $base-value;
      }
    }
    h2 {
      @extend .h5;
      display: inline;
      margin: 0 0 0 $base-value;
      color: $primary-color;
      &::before {
        content: "\/";
        margin-right: $base-value;
        font-weight: $font-weight-light;
        color: $neutral-color-dark;
      }
    }
    p {
      margin: 0;
    }
  }
}
