.avatar {
  display: inline-block;
  position: relative;
}

@each $size, $value in $iconSizes {
  @each $status, $color in $statusColor {
    .avatar-#{$status}-#{$size} {
      @include icon-container($value, map-get($iconFontSizes, $size));
      border-radius: 50%;
      border: 1px solid $color;
      overflow: hidden;
      background: control-gradient(
        map-get($statusColorHueShift, $status),
        $color
      );
      box-shadow: inset
        0
        0
        30px
        rgba(map-get($statusColorBlack, $status), 0.15);
      .initials {
        color: map-get($statusTextColor, $status);
        font-weight: $font-weight-light;
        //text-shadow: 1px 1px 0 map-get($statusColorBlack, $status);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
