.box {
  @extend .relative;
  @extend .inline-block;
  @extend .overflow-hidden;
  @extend .w-full;

  &.square {
    border-radius: 0;
  }
  &.round {
    @extend .c-round-all;
  }
  &.pill {
    border-radius: $radius-full;
  }
  &.recessed {
    @extend .control-shadow-inner
  }
  //&.active {
  //  @include transition-all();
  //  &:hover {
  //    @extend .control-border-style-active;
  //  }
  //}
}

.box-group-vertical {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: $scale0;
  border-radius: $radius-base;
  overflow: hidden;
  & > div {
    margin: 0 !important;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(black, 0.25);
  }
  &:last-child {
    border-bottom: none;
  }
}

.box-group-horizontal {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: $scale0;
  border-radius: $radius-base;
  overflow: hidden;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  & > * {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }
}