.syntax-string {
  color: $blue-shade1;
}

.syntax-number {
  color: $green-shade2;
}

.syntax-boolean {
  color: $red-shade2;
}

.syntax-null {
  color: $grey6;
}

.syntax-key {
  color: $purple;
}

.syntax-brace {
  color: silver;
}

.syntax-none {
  color: grey;
}
