@import 'vars';
@import 'functions';
@import 'mixins';
@import 'utils';
@import 'typography';
@import 'layout/layout-util';
@import 'layout/layout-grid-square';
@import 'components/component-common';

@import 'forms';

@import 'components/component-announcement';
@import 'components/component-banner';
@import 'components/component-button';
@import 'components/component-card';
@import 'components/component-card-fancy';
@import 'components/component-icon';
@import 'components/component-badge';
@import 'components/component-tabs';
@import 'components/component-tag';
@import 'components/component-table';
// needs to be updated @import 'components/component-checkbox';
// needs to be updated @import 'components/component-switch';

@import 'layout/layout-app';
@import 'layout/layout-header';
@import 'layout/layout-hero';
@import 'layout/layout-content';
@import 'layout/layout-footer';

html {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
  min-height: 100vh;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: $scale0;
  font-family: $font-family-base;
  background-color: $body-background-color;
}
